.breadcrumbs{
    font-style: italic;
    list-style: none;
    margin-top: 44px;
    padding: 0;
}

.breadcrumbs__item{
    display: inline-block;
}

.breadcrumbs__item-link{
    color : #ec1e79;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
}

.breadcrumbs__item-link_active{
    color: #656464;
    text-decoration: none;
}

.breadcrumbs__item:after{
    content:"/";
    opacity: 0.8;
    display: inline-block;
    color: #656464;

}

.breadcrumbs__item:last-child:after{
    display: none;
}