.header{
    background-color: #27273e;
    min-height: 77px;
}

.header__left,
.header__right{
    margin-top: 14px;
    width: 50%;
    float: left;
}

.header__right{
    text-align: right;
}

.contacts{
    font-style: normal;
}

.contacts__phone{
    font-family: 'GothamPro', Arial;
    font-weight: bold;
    color: white;
    font-size: 21px;
    text-decoration: none;
}

.contacts__desc{
    margin-top: 5px;
    font-family: 'GothamPro', Arial;
    font-weight: bold;
    color: #b12167;
    font-size: 14px;
    text-decoration: underline;
}