.sidebar{
    display: block;
    margin-top: 66px;
    float: left;
}

.sidebar-reviews{
    margin-top: 44px;
}

.nav__list{
    padding: 0px;
}

.nav__item{
    margin-bottom: 32px;
}

.nav__item-text{
    transition: .4s;
    display: inline-block;
}

.nav__item-icons{
    margin-right:10px;
    display: inline-block;
    width: 24px;
    height: 16px;
    transition: .4s;
}

.nav__item-main{
    background: url("../../img/main_icon.png") 0 0 no-repeat;
    width: 24px;
    height: 16px;
}

.nav__item-star{
    background: url("../../img/feed_icon.png") 0 0 no-repeat;
    width: 24px;
    height: 18px;
}

.nav__item-purse{
    width: 24px;
    height: 16px;
    background: url("../../img/wallet_icon.png") 0 0 no-repeat;
} 

.nav__item-link:hover .nav__item-main{
    background: url("../../img/main_icon_active.png") 0 0 no-repeat;
    width: 24px;
    height: 16px;
}

.nav__item-link:hover .nav__item-star{
    background: url("../../img/feed_icon_active.png") 0 0 no-repeat;
    width: 24px;
    height: 18px;
}

.nav__item-link:hover .nav__item-purse{
    width: 24px;
    height: 16px;
    background: url("../../img/wallet_icon_active.png") 0 0 no-repeat;
} 

.nav__item-link{
    text-transform: uppercase;
    font-family: 'GothamPro', Arial;
    font-weight: bold;
    font-size:12px;
    color: #ec1e79;
    text-decoration: none;
}


.nav__link-active + .nav__item-star{
    background: url("../../img/feed_icon_active.png") 0 0 no-repeat;
    width: 24px;
    height: 18px;
}


.nav__link-active + .nav__item-main{
    background: url("../../img/main_icon_active.png") 0 0 no-repeat;
    width: 24px;
    height: 18px;
}

.nav__active-purse{
    background: url("../../img/wallet_icon_active.png") 0 0 no-repeat;
    width: 24px;
    height: 18px;
}

.nav__active-star{
    background: url("../../img/feed_icon_active.png") 0 0 no-repeat;
    width: 24px;
    height: 18px;
}

.nav__active-main{
    background: url("../../img/main_icon_active.png") 0 0 no-repeat;
    width: 24px;
    height: 18px;
}

.nav__link-active + .nav__item-text{
    color: black;
}

.nav__item-link:hover .nav__item-text{
    color: black;
}